body {
  font-family: Arial;
  background: #ece5dd;
}

.messages {
  height: 400px;
  overflow-y: auto;
  padding: 10px;
}

.message {
  padding: 8px 12px;
  margin: 5px;
  max-width: 60%;
  border-radius: 10px;
}

.sent {
  background: #dcf8c6;
  margin-left: auto;
  text-align: right;
}

.received {
  background: #fff;
  margin-right: auto;
}

.meta {
  font-size: 10px;
  color: gray;
}