body {
  margin: 0;
  font-family: Arial;
}

.app {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 30%;
  background: #111b21;
  color: white;
  padding: 10px;
}

.sidebar input, .sidebar button {
  width: 100%;
  margin-top: 5px;
}

/* Users */
#users div {
  padding: 10px;
  border-bottom: 1px solid #333;
  cursor: pointer;
}

#users div:hover {
  background: #2a3942;
}

/* Chat */
.chat {
  width: 70%;
  display: flex;
  flex-direction: column;
  background: #ece5dd;
}

.chat-header {
  background: #075e54;
  color: white;
  padding: 10px;
}

/* Messages */
.messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

/* Bubble */
.message {
  max-width: 60%;
  padding: 8px;
  margin: 5px;
  border-radius: 10px;
}

.sent {
  background: #dcf8c6;
  margin-left: auto;
}

.received {
  background: white;
  margin-right: auto;
}

.meta {
  font-size: 10px;
  color: gray;
}

/* Input */
.input-area {
  padding: 10px;
  background: #f0f0f0;
}

.input-area input {
  width: 100%;
  padding: 10px;
}

/* Mobile */
@media (max-width: 600px) {
  .app {
    flex-direction: column;
  }

  .sidebar, .chat {
    width: 100%;
  }
}